---
title: Sean's Blog
layout: layouts/home.njk
description: Sean's blogs about tech and life
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

{% set pinned = false %}
{% for post in collections.posts %}
  {% if post.fileSlug == "always_on_top" %}
    {% set pinned = post %}
  {% endif %}
{% endfor %}

{% if pinned %}
<div id="Always on top">
  <h2>Always on top</h2>
  <a href="{{ pinned.url | url }}">{{ pinned.data.title or "Always on top" }}</a>
</div>
{% endif %}

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>